<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
</head>
<body>
    <h1>Jovian Careers</h1>
    <img src="../static/banner.jpg" alt="Main Banner" height="320px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores iure magni tempore recusandae qui minima a odio molestias, est similique tempora inventore placeat corporis quam rem ipsam accusantium molestiae officia.</p>
</body>
</html>